<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Babylon.js sample code</title>
    <!-- Babylon.js -->
    <!--<script src="http://www.babylonjs.com/hand.minified-1.2.js"></script>-->
    <script src="http://www.babylonjs.com/cannon.js"></script>
    <!--<script src="http://www.babylonjs.com/oimo.js"></script>
    <script src="http://www.babylonjs.com/babylon.js"></script>-->

    <script src="scripts/hand.minified-1.2.js"></script>
    <script src="scripts/Oimo.js"></script>
    <script src="scripts/babylon.js"></script>

    <script src="scripts/babylon.editor.core.js"></script>
    <script src="scripts/jquery-3.1.0.min.js"></script>
    <script src="scripts/babylon.editor.transformer.js"></script> 
    <script src="scripts/babylon.editor.sceneManager.js"></script>
    <script src="scripts/babylon.gridMaterial.js"></script>



    <script src="scripts/babylon.editor.main.js"></script>

    <link rel="stylesheet" href="app.css" type="text/css" />

</head>
<body>
    <canvas id="renderCanvas"></canvas>
    <canvas id="BABYLON-EDITOR-MAIN-CANVAS"></canvas>

    <div id="divConsole">
        <div>
            Selected Container position: X=
            <input type="text" v-model="selectedContainer.position.x" number />
            Z=
            <input type="text" v-model="selectedContainer.position.z" number />
            Y=
            <input type="text" v-model="selectedContainer.position.y" number/>

        </div>
        <div>
            Selected Container location: column=
            <input type="text" v-model="selectedContainerLocationColumn" number />
            row=
            <input type="text" v-model="selectedContainerLocationRow" number />
            level=
            <input type="text" v-model="selectedContainerLocationLevel" number />

        </div>

        <div>
            Position: X=
            <input type="text" v-model="inputPosition.x" />
            Z=
            <input type="text" v-model="inputPosition.z" />
            Y=
            <input type="text" v-model="inputPosition.y" />

            <input type="button" @click="addContainer" value="Add Container" />
        </div>

        <div>
            location: column=
            <input type="text" v-model="inputPositionColumn" />
            row=
            <input type="text" v-model="inputPositionRow" />
            level=
            <input type="text" v-model="inputPositionLevel" />

            <input type="button" @click="addContainer" value="Add Container" />
        </div>
        <div>
            <div>
                <input type="button" @click="moveUp" value="▲" />
                <input type="button" @click="moveDown" value="▼" />
            </div>
            <div>
                <input type="button" @click="moveLeft" value="◄" />
                <input type="button" @click="moveRight" value="►" />
            </div>
            <div>
                <input type="button" @click="moveForward" value="↓" />
                <input type="button" @click="moveBackword" value="↑" />
            </div>

        </div>
    </div>

    <script src="yard.js"></script>

    <script src="scripts/vue.js"></script>
    <script src="app.js"></script>

    <script src="scripts/internal/babylon.editor.event.js"></script>
    <script type="text/javascript">

        var editorMain = new BABYLON.EDITOR.EditorMain("BABYLON-EDITOR-MAIN");
        var core = editorMain.core;
        editorMain.createRenderLoop();

        //core.editor.sceneGraphTool.fillGraph();
        BABYLON.EDITOR.Event.sendSceneEvent(core.currentScene, BABYLON.EDITOR.SceneEventType.OBJECT_PICKED, core);
    </script>

</body>
</html>
